.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-2xs);
	max-width: 100%;
	padding-block: var(--spacing-xs);
	padding-inline: var(--spacing-s);
	background-color: var(--color-primary);
	border-radius: 0.25rem;
	user-select: none;
	color: var(--color-white);

	@media (prefers-reduced-motion: no-preference) {
		transition: var(--transition-base);
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}

	&:focus {
		outline-color: var(--color-primary);
	}

	span {
		min-width: fit-content;
		text-align: center;
		text-transform: uppercase;
		font-weight: var(--font-weight-bold);
		line-height: var(--leading-flat);
		text-decoration: none;

		@media (prefers-reduced-motion: no-preference) {
			transition: var(--transition-base);
		}
	}
}

.button-inline {
	display: inline-flex;
	align-items: center;
	gap: var(--spacing-3xs);
	color: var(--color-dark);

	@media (prefers-reduced-motion: no-preference) {
		transition: var(--transition-base);
	}

	&:hover {
		color: var(--color-primary);
	}

	span {
		min-width: fit-content;
		font-weight: var(--font-weight-bold);
		color: currentColor;
		text-decoration: underline;
		text-decoration-color: var(--color-primary);

		&:focus {
			outline-color: var(--color-primary);
		}
	}
}
