/*
REPEL
Pushes items away from each other where there is space,
stacks on small viewports.

CUSTOM PROPERTIES AND CONFIGURATION
--gutter (var(--spacing-s-m)): Space between items.
--repel-vertical-alignment (center): Vertical alignment.
*/
.repel {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: var(--repel-vertical-alignment, center);
	gap: var(--gutter, var(--spacing-s-m));
}

.repel[data-nowrap] {
	flex-wrap: nowrap;
}
